<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <!--Bootstrap CSS File-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/app.css">

</head>

<body class="auth-body">
    <header>
        <nav>

        </nav>
    </header>
    <h1>Pick a Flick!</h1>
    <div class='content-box login-content'>

        <div class='login-box'>
            <form action='/auth/login' method=POST>
                <% if(locals.message) { %>
                    <h2><%=message%></h2>
                <% } %>
                
                Username:  <input type="text" name="username" required> <br><br>
                Password:  <input type="text" name="password" required> <br><br>
                <input type="submit" value="Login">
            </form>
            <br><br>
            <a href='/auth/signup'>Not a User? Sign Up</a>
        </div>

        <div id="posterCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target='#posterCarousel' data-slide-to="0" class="active"></li>
                <li data-target='#posterCarousel' data-slide-to="1"></li>
                <li data-target='#posterCarousel' data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://m.media-amazon.com/images/M/MV5BMmQ2MmU3NzktZjAxOC00ZDZhLTk4YzEtMDMyMzcxY2IwMDAyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg"
                        alt="Alien Poster">
                </div>
                <div class="item">
                    <img src="https://m.media-amazon.com/images/M/MV5BMGNlNzBkZjAtZWVjZC00Y2Y4LWFiYjctNjI0MWIzNmVlZjg0XkEyXkFqcGdeQXVyMjE2NjA4Njg@._V1_SX300.jpg"
                        alt="Rosario Tijeras Poster">
                </div>
                <div class="item">
                    <img src="https://m.media-amazon.com/images/M/MV5BNDUyMmFiYTctZDcyYS00OGY4LTk1ZmYtZjBmODBlZTc1NjU4XkEyXkFqcGdeQXVyNTk1MTAyODc@._V1_SX300.jpg"
                        alt="The Smurfs Poster">
                </div>
            </div>
            <a class="left carousel-control" href="#posterCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#posterCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="#">
                Marissa Cadavid
            </a>
        </p>
    </footer>

    <script>
        $("#posterCarousel").carousel();
    </script>
</body>

</html>