<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    
    <div class='content-box'>
        <h1>Sign Up</h1>
        <form action='/auth/signup' method=POST>
            Name: 
            <input type="text" name="name" required> <br><br>
            Username: 
            <input type="text" name="username" required><br><br>
            Password: 
            <input type="text" name="password" required><br><br>
            Email: 
            <input type="text" name="email"><br><br>
            Favorite Genre: 
            <select name="favoriteGenre">
                <%for (let i=0; i<genres.length; i++){%>
                    <option value=genres[i].id><%=genres[i].genre%></option>
                <%}%>
            </select><br><br>
            <input type="submit" value="Sign Up">
        </form>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="#">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>