/* general site styling */

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #FFFCF2;
    
}

header {
    background-color: #252422;
    color: #FFFCF2;
    height: 15vh;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}


footer {
    background-color: #252422;
    color: #FFFCF2;
    height: 8vh;
    width: 100%;
}

.error-message {
    color: red;
}

.content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* login page styling */

.login-box {
    padding: 10px;
}


/* movie search styling */

.search-menu {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.search-form {
    margin: 0 auto;
}


.search-results-container {
    margin: 0 auto;
    background: #F6F7EB;
    padding: 10px;
    width: 70%;

}

.search-results-list {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.movie-list-item {
    border: 4px solid #A71125;
    width: 100%;
    height: 20vh;
    padding: 10px;
}

.movie-list-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 18vh;
    object-fit: scale-down;
}

.poster {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 50vh;
    object-fit: scale-down;
}
