/* general site styling */

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #ECECEC;
}

header {
    background-color: black;
    color: #FFFCF2;
    height: 15vh;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5vh 16px;
    float:right;
    height: 100%;
}

nav a:hover{
    background-color: #BFBFBF;
    color: black;
}

nav a.active {
    background-color: #BB000E;
    color: white;
}

h1 {
    text-align: center;
}


footer {
    background-color: black;
    color: #FFFCF2;
    width: 100%;
    text-align: center;
    height: 8vh;
    text-decoration: none;
    padding: 3vh;
}

footer a{
    color: #BFBFBF;
}

.error-message {
    color: red;
}

.content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 77vh;
}

/* login page styling */
.auth-body{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.auth-content{
    background-image: url("seats.jpg");
    background-size: contain;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 92vh;
}

.auth-content h1{
    /* font-family: 'Righteous', cursive; */
    margin: 0;
    font-weight: bold;
}

.login-content{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.login-box {
    padding: 20px;
    justify-content: center;
    margin-bottom: 200px;
    font-weight: bold;
}
.login-box h2{
    display: inline;
}
.login-box form input {
    color: black
}
.login-box a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.now-showing{
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    height: 555px;
}
/* sign up styling */

.auth-body{
    background-color: black;
}

.auth-content{
    background-image: url("seats.jpg");
    background-size: contain;
    color: white;
}

.auth-content h1{
    /* font-family: 'Righteous', cursive; */
    margin: 0;
    font-weight: bold;
}

.sign-up-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-weight: bold;
}
.sign-up-form{
    margin-bottom: 100px;
}
.sign-up-form input{
    color: black;
}
.sign-up-form select{
    color: black;
}
.sign-up-form h2{
    display: inline;
}
.signup {
    color: black
}
.sign-up-content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* user profile styling */

.account-content{
    border: solid black;
    border-radius: 5px;
    background-color: #BFBFBF;
    margin: auto;
    padding: 10px;
}

.account-edit-content{

}

/* movie search styling */

.search-menu {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.search-form {
    margin: 0 auto;
}


.search-results-container {
    margin: 0 auto;
    background: #ECECEC;
    padding: 10px;
    width: 70%;
}

.search-scroll-box {
    height:100%;
    width: 100%;
    overflow:auto;
    background-color:gray;
    color:white;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
}

.search-results-list {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.movie-list-item {
    border: 4px solid #A71125;
    width: 100%;
    height: 20vh;
    padding: 10px;
}

.movie-list-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 18vh;
    object-fit: scale-down;
}

.poster {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 50vh;
    object-fit: scale-down;
}

/* list page styling */

.favorite-button {
    background: none;
    border: none;
    padding: 0;
    color: gray;
    cursor: pointer;
  }

.lists-box {
    height:100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.list-page-scroll-box {
    height:91%;
    width: 100%;
    overflow:auto;
    background-color:gray;
    color:white;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
}

/* favorite styling */
