/* general site styling */

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #ECECEC;
}

header {
    background-color: black;
    color: #FFFCF2;
    height: 15vh;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5vh 16px;
    float:right;
    height: 100%;
}

nav a:hover{
    background-color: #BFBFBF;
    color: black;
}

nav a.active {
    background-color: #BB000E;
    color: white;
}

h1 {
    text-align: center;
}


footer {
    background-color: black;
    color: #FFFCF2;
    width: 100%;
    text-align: center;
    height: 8vh;
    text-decoration: none;
    padding: 3vh;
}

footer a{
    color: #BFBFBF;
}

.error-message {
    color: red;
}

.content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 77vh;
}

ul{
    padding-inline-start: 0px;
}

.btn-secondary-dark{
    background-color: #BFBFBF;
}

/* login page styling */
.auth-body{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.auth-content{
    background-image: url("seats.jpg");
    background-size: contain;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 92vh;
}

.auth-content h1{
    margin: 0;
    font-weight: bold;
}

.login-content{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.login-box {
    padding: 20px;
    justify-content: center;
    margin-bottom: 200px;
    font-weight: bold;
}
.login-box h2{
    display: inline;
}
.login-box form input {
    color: black
}
.login-box a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.now-showing{
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    height: 555px;
}
/* sign up styling */

.auth-body{
    background-color: black;
}

.auth-content{
    background-image: url("seats.jpg");
    background-size: contain;
    color: white;
}

.auth-content h1{
    margin: 0;
    font-weight: bold;
}

.sign-up-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-weight: bold;
}
.sign-up-form{
    margin-bottom: 100px;
}
.sign-up-form input{
    color: black;
}
.sign-up-form select{
    color: black;
}
.sign-up-form h2{
    display: inline;
}
.signup {
    color: black
}
.sign-up-content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* user profile styling */

.account-content{
    border: solid black;
    border-radius: 5px;
    background-color: #BFBFBF;
    margin: auto;
    padding: 10px;
}

.account-form{
    float: right;
}

/* movie search styling */

.search-menu {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.search-form {
    margin: 0 auto;
}


.search-results-container {
    margin: 0 auto;
    background: #ECECEC;
    padding: 10px;
    width: 70%;
}

.search-scroll-box {
    height:100%;
    width: 100%;
    overflow:auto;
    background-color:#ECECEC;
    color:white;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
    margin-top: 10px;
}

.search-results-list {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #BFBFBF;
}
.search-again-tag{
    margin: 0 auto;
    display: table;
}
.search-again-header{
    display: inline-block;
    color: black;
}
.search-web-button{
    display: inline-block;
    margin-left: 20%;
}
.picked-list{
    width:50%;
    margin-top: 10px;
}
.watched-list{
    width:50%;
    margin-top: 10px;
}
.movie-list-item {
    border: solid black;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #BFBFBF;
}

.movie-list-data{
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 84px 4fr 40px 2fr 1fr;
    text-align: center;
    height: 100%;
}
.movie-list-data-lists{
    width: 100%;
}

.thumbnail{
    grid-column: 1;
}
.title{
    grid-column: 2;
    color: black;
}
.title-genres{
    grid-column: 2;
    grid-row: 1;
}
.year{
    grid-column: 3;
}
.imdbLink{
    grid-column: 4;
}
.director{
    grid-row: 1;
    grid-column: 4;
}
.add-pick-list{
    grid-column: 5;
}
.add-watch-list{
    grid-column: 5;
}
.remove-from-list{
    grid-column: 5;
}
.button-container{
    grid-column: 5;
    grid-row: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    height: 18vh;
    object-fit: scale-down;
}


/* list page styling */

.list-headers {
    display: inline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.filter-list-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.favorite-button {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: x-large;
  }

.lists-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.list-page-scroll-box {
    height:91%;
    width: 100%;
    overflow:auto;
    background-color:#ECECEC;
    color:white;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
}

/* movie show page styling */

.movie-show-header {
    margin: 0;
    padding: 10px;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

}

.movie-marquee {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 50%;
    margin: 0;

}

.movie-show-content-box {
    margin: auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 77vh;
    align-items: center;

}

.movie-poster-container {
    width: 50%;
    height: 77vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.poster {
    margin: 20px;;
    width: auto;
    height: auto;
    border: 10px solid black;
    border-radius: 4px;
    padding: 5px;
    object-fit: scale-down;
    
}

.movie-data-box {
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}
.movie-data-box p {
    margin: 0;
    width: 100%;
}

.show-page-list-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}


/* favorite styling */
.favorite-count{
    float: left;
    margin-right: 5px;
    color: gold;
}
.favorite-count h2{
    display: inline;
    color: gold;
}